{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

<section class="flex justify-center h-screen items-center">

    {{ dump(formAddProgram.session) }}

    {{form_start(formAddProgram, {'attr': {'id': 'add_program'}})}}
    
        {{form_row(formAddProgram.duree)}}
        {{form_row(formAddProgram.session, { 'attr': { 'class': 'flex flex-col w-80 mb-5 p-1.5 rounded-lg'}}) }}
        {{form_row(formAddProgram.module, { 'attr': { 'class': 'flex flex-col w-80 mb-5 p-1.5 rounded-lg'}})}}
        {{form_row(formAddProgram.submit)}}
    
    {{form_end(formAddProgram)}}
    
</section>
{% endblock %}
