{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}

    <section class="flex justify-center h-screen items-center">

        {{form_start(formAddProgram, {'attr': {'id': 'add_program'}})}}
        
            {{form_row(formAddProgram.duree)}}
            {{form_row(formAddProgram.module, { 'attr': { 'class': 'flex flex-col w-80 mb-5 p-1.5 rounded-lg'}})}}
            {{form_row(formAddProgram.submit)}}
        
        {{form_end(formAddProgram)}}
        
    </section>

    {% else %}
    <h2>You do not have access to this page !</h2>

{% endif %}
{% endblock %}
