{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<h1 class="text-center">{{category.name}}</h1>

<a href="{{path('edit_category', {'id': category.id})}}">edit</a>
<a href="{{path('delete_category', {'id': category.id})}}">delete</a>


<a href="{{path('add_module')}}">add modules</a>
{% for module in category.modules %}

    <p>{{module}} <br></p>
    <a href="{{path('edit_module', {'id': module.id})}}">edit</a>
    <a href="{{path('delete_module', {'id': module.id})}}">delete</a>

{% endfor %}


{% endblock %}
