{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

{% if app.user %}
    
    <section class="flex justify-center h-screen items-center">

        
        {{form_start(formAddSession, { 'attr': { 'class': 'flex flex-col items-center'}})  }}
        
        {{form_row(formAddSession.name)}}
        {{form_row(formAddSession.beginDate)}}
        {{form_row(formAddSession.endDate)}}
        {{form_row(formAddSession.nb_place)}}

        {{form_row(formAddSession.submit)}}
        
        {{form_end(formAddSession)}}
        
    </section>

    {% else %}
        <h2>You do not have access to this page !</h2>

{% endif %}

{% endblock %}
