{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<section class="flex justify-center h-screen items-center">

    
    {{form_start(formAddSession, { 'attr': { 'class': 'flex flex-col items-center'}})  }}
    
    {{form_row(formAddSession.name)}}
    {{form_row(formAddSession.beginDate)}}
    {{form_row(formAddSession.endDate)}}
    {{form_row(formAddSession.nb_place)}}
    {# {{form_row(formAddSession.stagiaires)}} #}

    {{form_row(formAddSession.submit)}}
    
    {{form_end(formAddSession)}}
    
</section>
{% endblock %}
