{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1 class="text-center">{{session.name}}</h1>

<h2>program</h2> <br>
{% for program in session.programs %}

    {# TODO: #}
    <a href="#">{{program.module.name}} {{program}}h <br></a>

{% endfor %}


<br><h2>interns for this session</h2><br>

{% for stagiaire in session.stagiaires %}

    <a href="{{path('detail_stagiaire', {'id': stagiaire.id})}}">{{stagiaire.fullName}} <br></a>

{% endfor %}
{% endblock %}
