{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<section>

    <div class="flex justify-center flex-row items-center">

        <h1 class="text-center text-2xl font-semibold my-9 mr-12">{{session.name}}</h1>
        <p>space left : {{ session.currentNbPlace}}</p>
    </div>

    {% if app.user %}
        <div class="flex mb-20 ml-9" id="add_button">
            <a class="p-2 rounded-md" href="{{path('add_program',{'idSession': session.id})}}">add Program</a>
        </div>
    {% endif %}

    <h2 class="text-xl font-semibold my-9 ml-9">program</h2> 

    <div class="flex flex-wrap justify-start ml-9">

        {% for program in session.programs %}
        
            <div id="session" class="flex justify-center items-center flex-col rounded-md h-36 w-72  mr-14 mb-14">
                <h3 class="text-xl text-center mb-3">{{program.module.name}} <br> {{program}}h <br></h3>

                {% if app.user %}
                    <div id="add_button">
                        <a class="p-1 w-20 rounded-md text-center mb-2.5" href="{{path('edit_program', {'id':program.id})}}">edit</a>
                        <a class="p-1 w-20 rounded-md text-center mb-2.5" href="{{path('delete_program', {'id':program.id})}}">delete</a>
            
                    </div>
                {% endif %}
            </div>
            
        
        {% endfor %}
    </div>

    {% if app.user %}

        <div class="flex justify-around mb-9">

            <div>
                <br><h2 class="text-xl font-semibold my-9 ml-9">interns for this session</h2>
                
                {% for stagiaire in session.stagiaireSession %}
                
                    <a class="ml-9" href="{{path('detail_stagiaire', {'id': stagiaire.id})}}">{{stagiaire.fullName}} <br></a>
                    
                    <div class="flex ml-9">
                        <a class="bg-red-700 p-1 w-20 rounded-md text-center mb-2.5" href="{{path('delete_stagiaire_session', {'id': session.id, 'idStagiaire': stagiaire.id})}}">Delete</a>

                    </div>
                {% endfor %}

            </div>
        
            <div>
                <br><h2 class="text-xl font-semibold my-9 ml-9">interns not in this session</h2>
            
                {% for stagiaire in stagiaires %}
                    <a class="ml-9" href="{{path('detail_stagiaire', {'id': stagiaire.id})}}">{{stagiaire.fullName}} <br></a>
                    
                    <div class="flex ml-9" id="add_button">
                        <a class="p-1 w-20 rounded-md text-center mb-2.5" href="{{path('add_stagiaire_session', {'id': session.id, 'idStagiaire': stagiaire.id})}}">add</a>

                    </div>
                {% endfor %}    

            </div>

        </div>
    {% endif %}

</section>

{% endblock %}
