{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<section class="ml-9">
    <h1 class="text-center text-2xl font-semibold my-9">{{session.name}}</h1>
    
    <h2 class="text-xl font-semibold my-9">program</h2> 
    
    <div class="flex flex-wrap justify-start">

        {% for program in session.programs %}
        
            <div id="session" class="flex justify-center items-center flex-col rounded-md h-36 w-72  mr-14 mb-14">
                <a class="text-xl text-center mb-3" href="{{path('detail_module', {'id': program.module.id})}}">{{program.module.name}} <br> {{program}}h <br></a>

                <div id="add_button">
                    <a class="p-1 w-20 rounded-md text-center mb-2.5" href="{{path('edit_program', {'id':program.id})}}">edit</a>
                    <a class="p-1 w-20 rounded-md text-center mb-2.5" href="{{path('delete_program', {'id':program.id})}}">delete</a>
        
                </div>
            </div>
            
            
        
        {% endfor %}
    </div>

    
    
    <br><h2 class="text-xl font-semibold my-9">interns for this session</h2>
    
    {% for stagiaire in session.stagiaires %}
    
        <a href="{{path('detail_stagiaire', {'id': stagiaire.id})}}">{{stagiaire.fullName}} <br></a>
    
    {% endfor %}

</section>

{% endblock %}
